@import "tailwindcss";

input {
  border: 1px solid #2B7FFF;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 5px;
  width: 250px;
  height: 38px;
}

select {
  border: 1px solid #2B7FFF;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 5px;
  width: 250px;
  height: 38px;
}

button {
  background-color: #2B7FFF;
  width: 170px;
  margin: 15px;
  border-radius: 10px;
  height: 38px;
}

button:hover {
 background-color: #5393ff; 
 cursor: pointer;
}
